body{

font-family: Arial, sans-serif;
text-align: center;
margin-top: 50px;

}
input, button{
    padding: 10px;
    font-size: 16px;
    margin: 5px;
    
}
h1{
    color: #620808;
}

#resultado{
    margin-top: 20px;
    font-size: 18px;
}
.erorr{
    color: red;
}